In [87]:
from account import Account
from decimal import Decimal
print("Hello World ~Matt Goeckel")

Hello World ~Matt Goeckel

Accounts example

In [88]:
account1 = Account('John Green', Decimal('50.00'))
account1.name

'John Green'

In [89]:
account1.balance

Decimal('50.00')

In [90]:
account1.deposit(Decimal('-123.45'))

ValueError: amount must be positive.

In [ ]:
Account?

Init signature: Account(name, balance)
Docstring:      Account class for maintaining a bank account balance.
Init docstring: Initialize an Account object.
File:           c:\users\matt goeckel\documents\northwest missouri state\44-608 data analytics fundamentals\mod07\account.py
Type:           type
Subclasses:

In [ ]:
account1.withdraw(Decimal('100.00'))

ValueError: amount must be <= to balance.

In [ ]:
account1.withdraw(Decimal('-10.00'))

ValueError: amount must be positive.

In [ ]:
account1.balance = Decimal('-1000.00')
account1.balance
#Data attributes (using '=') cannot validate the assigned values, even if they are wrong

Decimal('-1000.00')

Time Example

In [ ]:
from timewithproperties import Time
wake_up = Time(hour=6, minute=30)
wake_up

Time(hour=6, minute=30, second=0)

In [ ]:
wake_up.hour

6

In [ ]:
wake_up.set_time(hour=7, minute=45)
wake_up

Time(hour=7, minute=45, second=0)

In [ ]:
wake_up.hour = 6
wake_up

Time(hour=6, minute=45, second=0)

In [ ]:
wake_up.hour = 68           #Produces ValueError
#wake_up.hour = "Matt"      #Produces TypeError

ValueError: Hour (68) must be 0-23

In [ ]:
selfcheck = Time()
selfcheck

Time(hour=0, minute=0, second=0)

In [ ]:
selfcheck.time = (12, 30, 45)
selfcheck

Time(hour=0, minute=0, second=0)

In [ ]:
selfcheck.time

(12, 30, 45)

In [ ]:
wake_up._hour = 100     #Once again, using '=' to set the value will bypass any errors that may get raised
wake_up

Time(hour=100, minute=45, second=0)

PrivateClass example

In [ ]:
from private import PrivateClass
my_object = PrivateClass()
my_object.public_data

'public'

In [ ]:
my_object.__private_data

AttributeError: 'PrivateClass' object has no attribute '_private_data'

In [ ]:
my_object._PrivateClass__private_data

'private'

In [ ]:
my_object._PrivateClass__private_data = 'modified'
my_object._PrivateClass__private_data

'modified'

Deck of cards example

In [97]:
from deck import DeckOfCards
from card import Card
import carddataclass
deck_of_cards = DeckOfCards()
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [105]:
deck_of_cards.shuffle()
print(deck_of_cards)
#You can run this as many times as you want, and it's different every time

9 of Clubs         6 of Diamonds      2 of Hearts        7 of Spades
3 of Hearts        8 of Hearts        4 of Clubs         Jack of Hearts
Queen of Hearts    Queen of Diamonds  10 of Hearts       Ace of Clubs
Queen of Spades    3 of Clubs         Ace of Spades      2 of Diamonds
Ace of Diamonds    4 of Hearts        Jack of Spades     5 of Hearts
2 of Spades        10 of Clubs        Jack of Clubs      4 of Spades
Ace of Hearts      3 of Spades        7 of Hearts        Queen of Clubs
King of Clubs      2 of Clubs         5 of Clubs         7 of Diamonds
6 of Spades        10 of Diamonds     9 of Spades        7 of Clubs
8 of Spades        6 of Clubs         10 of Spades       9 of Hearts
4 of Diamonds      King of Diamonds   6 of Hearts        5 of Diamonds
5 of Spades        King of Spades     8 of Diamonds      9 of Diamonds
King of Hearts     8 of Clubs         3 of Diamonds      Jack of Diamonds

In [99]:
deck_of_cards.deal_card()
#Re-run this, and it goes through the shuffled deck IN ORDER

Card(face='Ace', suit='Clubs')

In [100]:
card = deck_of_cards.deal_card()
str(card)

'5 of Hearts'

In [101]:
card.image_name

'5_of_Hearts.png'

In [102]:
%matplotlib
from pathlib import Path
path = Path('.').joinpath('card_images')
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

Using matplotlib backend: TkAgg

In [112]:
deck_of_cards.shuffle()     #Needs to reshuffle or else this block breaks
figure, axes_list = plt.subplots(nrows=4, ncols=13)
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    dealtCard = deck_of_cards.deal_card()
    #print(dealtCard)   Debug tool
    image_name = dealtCard.image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

In [113]:
deck_of_cards.shuffle()
figure, axes_list = plt.subplots(nrows=2, ncols=5)  #Smaller deal-out
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

figure.tight_layout()

CommissionEmployee Example for Polymporphism

In [114]:
from commissionemployee import CommissionEmployee

c = CommissionEmployee('Sue', 'Jones', '333-33-3333', Decimal('10000.00'), Decimal('0.06'))
c

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06

In [115]:
print(f'{c.earnings():,.2f}')

600.00

In [116]:
c.gross_sales = Decimal('20000.00')
c.commission_rate = Decimal('0.1')
print(f'{c.earnings():,.2f}')

2,000.00

In [117]:
from salariedcommissionemployee import SalariedCommissionEmployee
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444', Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))
print(s.first_name, s.last_name, s.ssn, s.gross_sales, s.commission_rate, s.base_salary)

Bob Lewis 444-44-4444 5000.00 0.04 300.00

In [118]:
print(f'{s.earnings():,.2f}')

500.00

In [119]:
s.gross_sales = Decimal('10000.00')
s.commission_rate = Decimal('0.05')
s.base_salary = Decimal('1000.00')
print(s)

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00

In [121]:
print(f'{s.earnings():,.2f}')

1,500.00

In [122]:
issubclass(SalariedCommissionEmployee, CommissionEmployee)

True

In [123]:
isinstance(s, CommissionEmployee)

True

In [124]:
isinstance(s, SalariedCommissionEmployee)

True

In [125]:
employees = [c, s]
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00
1,500.00

In [127]:
class WellPaidDuck:
    def __repr__(self):
        return 'I am a well-paid duck'
    def earnings(self):
        return Decimal('1_000_000.00')

In [128]:
c = CommissionEmployee('Sue', 'Jones', '333-33-3333',
    Decimal('10000.00'), Decimal('0.06'))

s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444',
    Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

d = WellPaidDuck()
employees = [c, s, d]

In [129]:
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06
600.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 5000.00
commission rate: 0.04
base salary: 300.00
500.00

I am a well-paid duck
1,000,000.00

In [130]:
from complexnumber import Complex
x = Complex(real=2, imaginary=4)
x

(2 + 4i)

In [131]:
y = Complex(real=5, imaginary=-1)
y

(5 - 1i)

In [132]:
x += y
x

(7 + 3i)

In [133]:
y

(5 - 1i)

In [136]:
from complexnumber2 import Complex
x = Complex(real=2, imaginary=4)
y = Complex(real=5, imaginary=-1)
x - y

(-3 + 5i)

In [137]:
x -= y
print(x, y)

(-3 + 5i) (5 - 1i)

In [138]:
from collections import namedtuple
Card = namedtuple('Card', ['face', 'suit'])
card = Card(face='Ace', suit='Spades')
print(card.face)
print(card.suit)
print(card)

Ace
Spades
Card(face='Ace', suit='Spades')

In [139]:
values = ['Queen', 'Hearts']
card = Card._make(values)
card

Card(face='Queen', suit='Hearts')

In [140]:
card._asdict()

{'face': 'Queen', 'suit': 'Hearts'}

In [141]:
Time = namedtuple('Time', ['hour', 'minute', 'second'])
t = Time(13, 30, 45)
print(t.hour, t.minute, t.second)
t

13 30 45

Time(hour=13, minute=30, second=45)

In [143]:
from dataclasses import dataclass

@dataclass
class Demo:
    x

In [146]:
from carddataclass import Card
c1 = Card(Card.FACES[0], Card.SUITS[3])
c1

Card(face='Ace', suit='Spades')

In [148]:
print(c1)
print(c1.face)
print(c1.suit)
print(c1.image_name)

Ace of Spades
Ace
Spades
Ace_of_Spades.png

In [151]:
c2 = Card(Card.FACES[0], Card.SUITS[3])
print(c2)
c3 = Card(Card.FACES[0], Card.SUITS[0])
print(c3)

Ace of Spades
Ace of Hearts

In [152]:
c1 == c2

True

In [153]:
c1 == c3

False

In [154]:
c1 != c3

True

In [156]:
from deck2 import DeckOfCards 
deck_of_cards = DeckOfCards()
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [157]:
from carddataclass import Card
c = Card('Ace', 'Spades')
c

Card(face='Ace', suit='Spades')

In [158]:
type(c.face)

str

In [159]:
c.face = 100
c

Card(face=100, suit='Spades')

In [160]:
type(c.face)

int

In [161]:
z = 'global z'
def print_variables():
    y = 'local y in print_variables'
    print(y)
    print(z)
print_variables()

local y in print_variables
global z

In [163]:
y   #defined as complexnumber from wayy above, not the local from previous block

(5 - 1i)

Matt Goeckel - Chapter 10 Practice :)